@mixin hover($height: 5px) {
  &:after {
    content: '';
    width: 0;
    height: $height;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, $pale-green, $paler-green);
    transition: all 0.4s ease-in-out;
    opacity: 0.5;
  }
  &:hover:after {
    width: 100%;
  }
}
