.container {
  height: calc(100vh - 64px);
}

.wrapper {
  height: 100%;
}

@media (min-width: 768px) {
  .wrapper {
    display: flex;
  }

  .wrapper aside {
    flex-basis: 25%;
  }

  .wrapper > div {
    flex-basis: 75%;
  }
}
